doctype html
html lang="en" 
    head
        title Trinity &amp; Warren United Methodist Churches
        meta charset="utf-8"
        meta http-equiv="X-UA-Compatible" content="IE=edge"
        meta name="viewport" content="width=device-width, initial-scale=1"
        meta name="description" content="Trinity and Warren United Methodist"
        meta name="author" content="@theothergmundy"
        link rel="icon" type="image/png" href="/images/favicon.png"
        == stylesheet_link_tag 'application'
      
        /! HTML5 shim and Respond.js IE8 support of HTML5 elements and media
           queries

        /! [if lt IE 9]
           script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
           script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
           ![endif]
    body
        div class="navbar navbar-inverse navbar-fixed-top" role="navigation"
            .container
                .navbar-header
                    button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" 
                        span class="sr-only" Toggle navigation
                        span class="icon-bar"
                        span class="icon-bar"
                        span class="icon-bar"
                    a.navbar-brand href='#' Trinity &amp; Warren United 
                        Methodist Churches
                div class="collapse navbar-collapse"
                    ul class="nav navbar-nav"
                        li 
                            a href="#" Church
                        li 
                            a href="#" Community 
                        li
                            a href="#" About
                        li 
                            a href="#" Contact 
        div.container
            == yield

        = javascript_include_tag "jquery" 
